# Git
.git
.gitignore
.github

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.py[cod]
*$py.class
.pytest_cache
.coverage
htmlcov
.mypy_cache
.ruff_cache

# Virtual Environment
.env
.venv
env/
venv/
ENV/

# IDE
.idea
.vscode
*.swp
*.swo

# Project specific
README.md
LICENSE
*.md
tests/
docs/
.pre-commit-config.yaml 
