# Notification Database
NOTIFY_POSTGRES_NAME=notification_db
NOTIFY_POSTGRES_PASSWORD=pass
NOTIFY_POSTGRES_USER=postgres
NOTIFY_POSTGRES_HOST=db
NOTIFY_POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Notification FastAPI
NOTIFY_PROJECT_NAME="Notification API"
NOTIFY_API_PRODUCTION=true
NOTIFY_JWT_ALGORITHM=RS256
NOTIFY_JWT_PUBLIC_KEY_PATH="/app/keys/example_public_key.pem"

# RabbitMQ
NOTIFY_RABBITMQ_HOST=rabbitmq
NOTIFY_RABBITMQ_PORT=5672
NOTIFY_RABBITMQ_USER=guest
NOTIFY_RABBITMQ_PASSWORD=password

# Настройки расписания
NOTIFY_PERIODIC_SCHEDULE="* * * * *"
NOTIFY_SCHEDULED_SCHEDULE="* * * * *"

# Настройки пакетной обработки
NOTIFY_SCHEDULED_BATCH_SIZE=100
