name: Notifications Service

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install "isort>=6.0.0" "mypy>=1.15.0" "ruff>=0.9.5" "sqlalchemy[mypy]>=2.0.38" "types-croniter==5.0.1.20241205"

      - name: Run isort
        run: |
          isort --check-only --diff .

      - name: Run ruff format
        run: |
          ruff format --check --exclude notification_service/src/db/migrations/ --exclude tests/ .

      - name: Run ruff lint
        run: |
          ruff check --exclude notification_service/src/db/migrations/ --exclude notification_service/src/tests/ --output-format=github .

      - name: Run mypy
        run: |
          mypy --config-file pyproject.toml --exclude notification_service/src/db/migrations/ --exclude tests/ .

  notify:
    needs: lint
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && success()

    steps:
      - name: Send Telegram notification
        uses: appleboy/telegram-action@master
        with:
          to: ${{ secrets.TELEGRAM_CHAT_ID }}
          token: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          message: |
            ✅ Изменения успешно влиты в main!

            Repository: ${{ github.repository }}
            Branch: ${{ github.head_ref || github.ref_name }}

            Commit: ${{ github.sha }}
            ${{ github.event.commits[0].message }}

            Details: https://github.com/${{ github.repository }}/commit/${{github.sha}}
